<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>BGTaskSchedulerPermittedIdentifiers</key>
   <array>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
   </array>
   <key>CADisableMinimumFrameDurationOnPhone</key>
   <true/>
   <key>CFBundleDevelopmentRegion</key>
   <string>$(DEVELOPMENT_LANGUAGE)</string>
   <key>NSLocationWhenInUseUsageDescription</key>
    <string>Need location permission for area project listing</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>We need access to your location to provide location-based services and improve user experience.</string>
   <key>CFBundleDisplayName</key>
   <string>Save Max</string>
   <key>CFBundleExecutable</key>
   <string>$(EXECUTABLE_NAME)</string>
   <key>CFBundleIdentifier</key>
   <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
   <key>CFBundleInfoDictionaryVersion</key>
   <string>6.0</string>
   <key>CFBundleName</key>
   <string>savemax_flutter</string>
   <key>CFBundlePackageType</key>
   <string>APPL</string>
   <key>CFBundleShortVersionString</key>
   <string>$(FLUTTER_BUILD_NAME)</string>
   <key>CFBundleSignature</key>
   <string>????</string>
   <key>CFBundleVersion</key>
   <string>$(FLUTTER_BUILD_NUMBER)</string>
   <key>LSApplicationQueriesSchemes</key>
   <array>
      <string>sms</string>
      <string>tel</string>
   </array>
   <key>LSRequiresIPhoneOS</key>
   <true/>
   <key>NSAppTransportSecurity</key>
   <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
   </dict>
   <key>NSCameraUsageDescription</key>
   <string>Save Max needs access to your camera to allow you to take and upload photos directly within the app. This will help you personalize your profile and listings.</string>
   <key>NSPhotoLibraryAddUsageDescription</key>
   <string>We need access to your photo library to add photos.</string>
   <key>NSPhotoLibraryUsageDescription</key>
   <string>Save Max needs access to your photo library to allow you to choose and upload images for your profile and rental listings. Your photos will only be used within the app for these purposes.</string>
   <key>UIApplicationSupportsIndirectInputEvents</key>
   <true/>
   <key>UIBackgroundModes</key>
   <array>
      <string>fetch</string>
   </array>
   <key>UILaunchStoryboardName</key>
   <string>LaunchScreen</string>
   <key>UIMainStoryboardFile</key>
   <string>Main</string>
   <key>UISupportedInterfaceOrientations</key>
   <array>
      <string>UIInterfaceOrientationPortrait</string>
   </array>
   <key>UISupportedInterfaceOrientations~ipad</key>
   <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
   </array>
   <key>UIViewControllerBasedStatusBarAppearance</key>
   <false/>
   <key>io.flutter.embedded_views_preview</key>
   <true/>


 <key>FlutterDeepLinkingEnabled</key>
<true/>

    <key>CFBundleURLTypes</key>
<array>
<dict>
<key>CFBundleTypeRole</key>
<string>Editor</string>
<key>CFBundleURLName</key>
<string>com.app.savemax</string> <!-- Your app's bundle ID -->
<key>CFBundleURLSchemes</key>
<array>
<string>savemaxdeep</string> <!-- Your custom URI scheme -->
</array>
</dict>
</array>

    <key>branch_key</key>
<dict>
<key>live</key>
<string>key_live_gwjT91JWe2Dwh6vFIuJi6nggAAkdASa2</string> <!-- Your live Branch key -->
<key>test</key>
<string>secret_live_jvNPA4BKOjb9SzTaOPAHUELuQzCIhVhX</string> <!-- Your test Branch key -->
</dict>

    <key>branch_universal_link_domains</key>
<array>
<string>savemax.app.link</string> <!-- Your universal link domain -->
<string>savemax-alternate.app.link</string> <!-- Alternate universal link domain, if any -->
<!-- Replace with your actual domains from the Branch dashboard -->
</array>

  <key>FlutterDeepLinkingEnabled</key>
 <true/>

     <key>CFBundleURLTypes</key>
 <array>
 <dict>
 <key>CFBundleTypeRole</key>
 <string>Editor</string>
 <key>CFBundleURLName</key>
 <string>com.app.savemax</string> <!-- Your app's bundle ID -->
 <key>CFBundleURLSchemes</key>
 <array>
 <string>savemaxdeep</string> <!-- Your custom URI scheme -->
 </array>
 </dict>
 </array>

     <key>branch_key</key>
 <dict>
 <key>live</key>
 <string>key_live_gwjT91JWe2Dwh6vFIuJi6nggAAkdASa2</string> <!-- Your live Branch key -->
 <key>test</key>
 <string>secret_live_jvNPA4BKOjb9SzTaOPAHUELuQzCIhVhX</string> <!-- Your test Branch key -->
 </dict>

     <key>branch_universal_link_domains</key>
 <array>
 <string>savemax.app.link</string> <!-- Your universal link domain -->
 <string>savemax-alternate.app.link</string> <!-- Alternate universal link domain, if any -->
 <!-- Replace with your actual domains from the Branch dashboard -->
 </array>


</dict>
</plist>